html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  grid-area: header;
}
.aside {
  grid-area: menu;
}
.scrollable {
  grid-area: main;
}
.footer {
  grid-area: footer;
}

.main-container {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "menu main main main main main"
    "menu footer footer footer footer footer";
  grid-gap: 10px;
  padding: 10px;
  grid-template-rows: 70px auto 70px;
  height: 100vh;
  background-color: rgb(7, 7, 7);
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 65px;
  padding: 10px;
  width: 100%;
  
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav > li {
  position: relative;
  display: block;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #eee;
  border-color: #428bca;
}

@media (min-width: 768px) {
  .navbar-header {
    float: left;
  }
}

.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}

.navbar-nav {
  margin: 7.5px -15px;
}

@media (min-width: 768px) {
  .navbar-nav {
    float: left;
    margin: 0;
  }
}
@media (min-width: 768px) {
  .navbar-right {
    float: right !important;
  }
}

@media (orientation: landscape) {
  html.ios7.ipad > body {
    padding-bottom: 20px;
  }
}

.hbox {
  display: table;
  table-layout: fixed;
  border-spacing: 0;
  width: 100%;
}
.hbox > aside,
.hbox > section {
  display: table-cell;
  vertical-align: top;
  height: 100%;
  float: none;
}
.hbox > aside.show,
.hbox > aside.hidden-sm,
.hbox > section.show,
.hbox > section.hidden-sm {
  display: table-cell !important;
}

.aside-xs {
  width: 60px;
}
.aside-sm {
  width: 150px;
}
.aside {
  width: 200px;
}
.aside-md {
  width: 240px;
}
.aside-lg {
  width: 300px;
}
.aside-xl {
  width: 360px;
}
.aside-xxl {
  width: 480px;
}
.footer-md {
  min-height: 60px;
}
.scrollable {
  -webkit-overflow-scrolling: touch;
}

.scrollable {
  overflow-x: hidden;
  overflow-y: auto;
}

.navbar-header {
  position: relative;
}

.navbar-brand {
  float: none;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  height: auto;
  line-height: 50px;
  display: inline-block;
  padding: 0 20px;
}

.nav-primary ul.nav > li.active > ul {
  display: block;
}
.nav-primary ul.nav ul {
  display: none;
}
@media (min-width: 768px) {
  .visible-nav-xs {
    display: none;
  }
  .nav-xs {
    width: 70px;
  }
  .nav-xs .slimScrollDiv,
  .nav-xs .slim-scroll {
    overflow: visible !important;
  }

  .nav-xs .scrollable {
    overflow: visible;
  }
  .nav-xs .nav-primary > ul > li > a {
    position: relative;
    padding: 0;
    font-size: 11px;
    text-align: center;
    height: 50px;
    overflow-y: hidden;
    border: none;
  }
  .nav-xs .nav-primary > ul > li > a span {
    display: table-cell;
    vertical-align: middle;
    height: 50px;
    width: 70px;
    padding: 0 5px;
  }
  .nav-xs .nav-primary > ul > li > a span.pull-right {
    display: none !important;
  }

  .nav-xs .nav-primary > ul ul {
    display: none !important;
    position: absolute;
    left: 100%;
    top: 0;
    z-index: 1050;
    width: 220px;
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  .nav-xs .nav-primary li:hover > ul,
  .nav-xs .nav-primary li:focus > ul,
  .nav-xs .nav-primary li:active > ul {
    display: block !important;
  }
  .nav-xs.nav-xs-right .nav-primary > ul ul {
    left: auto;
    right: 100%;
  }

  .nav-xs .hidden-nav-xs {
    display: none;
  }
  .nav-xs .visible-nav-xs {
    display: inherit;
  }

  .nav-xs .nav-user {
    padding-left: 0;
    padding-right: 0;
  }
  .nav-xs .nav-user .avatar {
    float: none !important;
    margin-right: 0;
  }

  .nav-xs .navbar-header {
    float: none;
  }
  .nav-xs .navbar-brand {
    display: block;
    padding: 0;
  }
  .nav-xs .navbar-brand img {
    margin-right: 0;
  }
}
@media (max-width: 767px) {
  html,
  body {
    overflow-x: hidden;
    min-height: 100%;
  }
  .open,
  .open body {
    height: 100%;
  }
  .navbar-header {
    text-align: center;
  }
  .nav-user {
    margin: 0;
    padding: 15px;
  }
  .nav-user.open {
    display: inherit !important;
  }
  .nav-user .avatar {
    width: 160px !important;
    float: none !important;
    display: block;
    margin: 20px auto;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    position: relative;
  }
  .nav-user .avatar:before {
    content: "";
    position: absolute;
    left: 5px;
    right: 5px;
    bottom: 5px;
    top: 5px;
    border: 4px solid #fff;
    border-radius: 500px;
  }
  .nav-off-screen {
    display: block !important;
    position: absolute;
    left: 0;
    top: 0px;
    bottom: 0;
    width: 75%;
    visibility: visible;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
  .nav-off-screen .nav-primary {
    display: block !important;
  }

  .nav-off-screen.push-right {
    left: auto;
    right: 0;
  }
  .nav-off-screen.push-right + * {
    -webkit-transform: translate3d(-75%, 0px, 0px);
    transform: translate3d(-75%, 0px, 0px);
  }
  .nav-off-screen + * {
    background-color: #f2f4f8;
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    -moz-transition: -moz-transform 0.2s ease-in-out;
    -o-transition: -o-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(75%, 0px, 0px);
    transform: translate3d(75%, 0px, 0px);
    overflow: hidden;
    position: absolute;
    width: 100%;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }
  .nav-off-screen + * .nav-off-screen-block {
    display: block !important;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1950;
  }
}

